*.iml
*.pyc
*.swp
*~
kubeconfig
.kubeconfig
log/**
pid/**
bin/**
coverage.html
.idea/
.DS_Store
.glide
.scBuildImage
.init
.generate*
.envrc
build/*/tmp/*
contrib/build/*/tmp/*
.pkg
.kube
.var
charts/catalog/apiserver-key.pem
charts/catalog/apiserver.csr
charts/catalog/apiserver.pem
charts/catalog/ca-key.pem
charts/catalog/ca.csr
charts/catalog/ca.pem
charts/catalog/server-ca-config.json
charts/catalog/svc-cat-ca.json
