<footer col="12">
    <main class="light-text">
        <nav>
            <a href="/docs/walkthrough">Get Started</a>
            <a href="/docs/">Documentation</a>
            <a href="/community">Community</a>
        </nav>
        <div class="social">
            <div>
                <a href="https://github.com/kubernetes-incubator/service-catalog" class="github"><span>Github</span></a>
                <a href="https://kubernetes.slack.com/messages/sig-service-catalog" class="slack"><span>Slack</span></a>
            </div>
            <div>
                <a href="https://groups.google.com/forum/#!forum/kubernetes-sig-service-catalog" class="mailing-list"><span>Mailing List</span></a>
            </div>
            <div>
                <a href="/docs/install" class="button">Get Service Catalog</a>
                <a href="/docs/devguide" class="button">Contribute</a>
            </div>
        </div>
        <div id="miceType" class="center">
            &copy; {{ 'now' | date: "%Y" }} The Kubernetes Authors | Documentation Distributed under <a href="/LICENSE" class="light-text">CC BY 4.0</a>
        </div>
        <div id="miceType" class="center">
            Copyright &copy; {{ 'now' | date: "%Y" }} The Linux Foundation&reg;. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage" class="light-text">Trademark Usage page</a>
        </div>
    </main>
</footer>
